mixin head(name)
  if (name === 'Calendar')
    span Календарь
  else if (name === 'Widget')
    span Виджет
  else
    span ''

mixin body(name)
  if (name === 'Calendar')
    .accordion-body
      include components/adminCalendarForm
  else if (name === 'Widget')
    .accordion-body
      include components/adminWidgetForm
  else
    .accordion-body ''

mixin item(name, collapsed='hide')
  .accordion-item
    h2.accordion-header(id=`heading${name}`)
      button.accordion-button(
        class={
          'accordion-button': true,
          collapsed: collapsed === 'hide'
        }
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=`#collapse${name}`
        aria-expanded=`${collapsed !== 'hide'}`
        aria-controls=`collapse${name}`
      )
        +head(name)
    div(
      id=`collapse${name}`
      class={
        'accordion-collapse': true,
        'collapse': true,
        show: collapsed !== 'hide'
      }
      aria-labelledby=`heading${name}`
      data-bs-parent="#accordionSettings"
    )
      +body(name)

.container-fluid.mt-2
  .row
    .col
      h2.h4 Настройки
  .row
    .col
      #accordionSettings.accordion
        +item('Calendar')
        +item('Widget', `${clubHasWidget ? 'hide' : 'show'}`)
  hr
