form(
    name='adminForm'
    action=values.formActionUrl
    method='post'
)
    input#widgetToken.form-control(
        name='widgetToken'
        type='hidden'
        value=null
    )
    .mb-3
        label.form-label(for='calendarId') Идентификатор календаря
        input#calendarId.form-control(
            name='calendarId'
            type='email'
            value=calendarId
            required
        )
    .mb-3
        label.form-label(for='timezone') Часовой пояс
        select#timezone.form-control(
            name='timezone'
            required
        )
            each timezone in values.timezones.all
              option(
                  value=timezone.name
                  selected=(timezone.name === calendarTimezone)
              ) #{timezone.offset} #{timezone.name}
    input.btn.btn-primary(
        type='submit'
        value=(calendarId ? 'Изменить' : 'Сохранить')
    )
hr
