extends index

mixin calendarIframe(calendarLink)
  h4 Календарь сообщества
  iframe#calendarIframe(
    src=calendarLink
    style='border: 0; opacity: 0.25;'
    width='100%'
    height='100%'
    frameborder='0'
    scrolling='yes'
  )
  .d-flex.flex-column.align-items-end
    p.
      Добавить мероприятия из этого календаря в свой можно по кнопке
      #[img.ms-1(src='/calendar-share-button.png' width='138' alt='Кнопка подписки на календарь')]
      выше
    a.btn.btn-outline-primary.m-1(href=calendarLink target='_blank') Открыть в браузере
  hr

mixin widgetBlock(clubId, clubHasWidget)
  - const clubSettingsPageURL = `vk.com/club${clubId}?act=apps`;
  - const clubTokenPageURL = `vk.com/club${clubId}?act=tokens`;
  div
    h4 Настройки виджета
    if (clubHasWidget === true)
      p
        | Для работы с виджетом выпущен токен, который можно найти тут:
        br
        a(href=`//${clubTokenPageURL}` target='_blank') #{clubTokenPageURL}
        br
        | Если токен был случайно (или специально) удалён,
        | то для приложения можно перевыпустить токен:
      button#setWidget.btn.btn-warning.mb-3 Перевыпустить токен
      p
        | Максимальная польза от виджета будет при его доступности
        | для просмотра всем пользователям:
        br
        a(href=`//${clubSettingsPageURL}` target='_blank') #{clubSettingsPageURL}
        br
        | синхронизация календаря с виджетом происходит автоматически.
    else
      p
        | Теперь мероприятия из календаря могут отображаться на главной
        | странице сообщества, как виджет. Чтобы его включить, нужно
        | жмякнуть по большой красной кнопке и дать доступ к виджету:
      button#setWidget.btn.btn-danger.mb-3 Сделать хорошо
      p
        | Останется только в настройках сообщества
        | сделать виджет доступным для просмотра всем пользователям:
        br
        a(href=`//${clubSettingsPageURL}` target='_blank') #{clubSettingsPageURL}
        br
        | синхронизация календаря с виджетом происходит автоматически.
  hr

block content
  - const { calendarId, clubId, timezone: calendarTimezone, widgetToken, extra: { calendarLink } } = values.calendar;
  - const clubHasWidget = widgetToken !== null;
  if (user.isAdmin)
    +calendarIframe(calendarLink)
    include adminForm
    +widgetBlock(clubId, clubHasWidget)
  else
    +calendarIframe(calendarLink)
