mixin head(name)
  if (name === 'GoogleCalendar')
    span Откройте в браузере
  else if (name === 'Subscribe')
    span Подпишитесь
  else if (name === 'Help')
    span Разберитесь
  else
    span ''

mixin body(name)
  if (name === 'GoogleCalendar')
    .accordion-body
      p Получите больше информации о мероприятиях в веб-интерфейсе календаря от Google.
      .text-end
        a.btn.btn-outline-primary(href=values.calendar.calendarLink target="_blank") Открыть в браузере
  else if (name === 'Subscribe')
    .accordion-body
      p.
        Добавьте мероприятия из этого календаря в свой,
        чтобы получать актуальные данные на всех устройствах (компьютер, смартфон)
        и подписываться на уведомления, чтобы не пропустить ничего важного.
      .text-end
        a.btn.btn-outline-success(href=values.calendar.subscribeLink target="_blank") Подписаться
  else if (name === 'Help')
    .accordion-body
      p.
        Если что-то не работает или остались вопросы,
        перейдите в раздел Справка внизу приложения. Там собраны ответы на
        часто задаваемые вопросы и ссылка на подробную статью.
  else
    .accordion-body ''

mixin item(name, collapsed='hide')
  .accordion-item
    h2.accordion-header(id=`heading${name}`)
      button.accordion-button(
        class={
          'accordion-button': true,
          collapsed: collapsed === 'hide'
        }
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=`#collapse${name}`
        aria-expanded=`${collapsed !== 'hide'}`
        aria-controls=`collapse${name}`
      )
        +head(name)
    div(
      id=`collapse${name}`
      class={
        'accordion-collapse': true,
        'collapse': true,
        show: collapsed !== 'hide'
      }
      aria-labelledby=`heading${name}`
      data-bs-parent="#accordionCalendar"
    )
      +body(name)

.container-fluid
  .row
    .col
      h2.h4 Полезное
      p.
        Приложение показывает ближайшие мероприятия из Google-календаря.
        Если вы хотите получать больше актуальной информации:
  .row
    .col
      #accordionCalendar.accordion
        +item(
          'GoogleCalendar',
          'show'
        )
        +item('Subscribe')
        +item('Help')
  hr
