extends index

mixin calendarIframe(calendarLink)
  a.btn.btn-link.float-end(href=calendarLink target='_blank') Открыть в браузере
  iframe#calendarIframe(
    src=calendarLink
    style='border: 0'
    width='100%'
    height='100%'
    frameborder='0'
    scrolling='yes'
  )


block content
  - const { calendarId, timezone: calendarTimezone, extra: { calendarLink } } = values.calendar;
  if (user.isAdmin)
    +calendarIframe(calendarLink)
    hr
    include adminForm
  else
    +calendarIframe(calendarLink)
