doctype html

html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover')
        title ical
        link(rel='apple-touch-icon' sizes='180x180' href='/favicons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicons/favicon-16x16.png')
        link(rel='manifest' href='/favicons/site.webmanifest')
        script.
            const gon = !{JSON.stringify(gon)}

    body
        .container
            block content

            .bg-light
                a.btn.btn-link.m-1(href=`/calendar?${gon.app.query}`) На главную
                a.btn.btn-link.m-1(href=`/help?${gon.app.query}`) Справка
                a.btn.btn-link.m-1(
                    href=`//vk.me/join/qV74WOs_mSpeOSE9E8er089WI_uQsZdB9N8=`
                    target='_blank'
                ) Чат приложения
                a.btn.btn-link.ms-auto.m-1(
                    href='//github.com/Melodyn/iCal/releases'
                    target='_blank'
                )
                    img(height='32' width='32' src='/github.svg' alt='Иконка Github')

            a.btn.btn-light.m-2(href=`/install?${gon.app.query}`) Добавить приложение в другое сообщество

        script(src='dist/bundle.js')
