doctype html

html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover')
    title ical
    link(rel='apple-touch-icon' sizes='180x180' href='/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicons/favicon-16x16.png')
    link(rel='manifest' href='/favicons/site.webmanifest')
    script(type='text/javascript').
      const gon = !{JSON.stringify(gon)}

  body
    #iphoneStatusbar.container-fluid(
      data-comment='Fix for iphone status bar: hide text from app'
    )

    if (!gon.app.isProd)
      .container-fluid
        p девелоперская версия

    if (gon.app.page !== 'install' && gon.app.page !== 'main')
      .container-fluid
        #vk_ads_132388

    block content

    .container-fluid.pt-3
      .row.row-cols-auto.bg-light.pb-2.g-3
        if (gon.app.page !== 'install' && gon.app.page !== 'main')
          .col
            form#navigationFormInstall(
              action=values.formActionUrl
              method='post'
            )
              input#action.form-control(
                name='action'
                type='hidden'
                value='install'
              )
              input.btn.btn-outline-primary(
                type='submit'
                value='Установить в другое сообщество'
              )
        .col
          a.btn.btn-outline-dark(
            href=`//vk.me/join/qV74WOs_mSpeOSE9E8er089WI_uQsZdB9N8=`
            target='_blank'
          ) Чат
        if (gon.app.page !== 'help')
          .col
            form#navigationFormHelp(
              action=values.formActionUrl
              method='post'
            )
              input#action.form-control(
                name='action'
                type='hidden'
                value='help'
              )
              input.btn.btn-outline-success(
                type='submit'
                value='Справка'
              )
        .col.ms-auto.mt-2
          a.btn.btn-link(
            href='//github.com/Melodyn/ical/releases'
            target='_blank'
          )
            img(height='38' width='32' src='/github.svg' alt='Иконка Github с сайта simpleicons.org')
          if (gon.app.isAction)
            button.btn.btn-outline-secondary(onclick="location.reload();") « назад

    if (gon.app.page !== 'main')
      .container-fluid
        #vk_ads_132389

    script(src='dist/bundle.js')
    if (gon.app.page !== 'install' && gon.app.page !== 'main')
      script(type='text/javascript').
        setTimeout(function () {
          const adsParams = {"ad_unit_id": 132388, "ad_unit_hash": "5cc24df278abff2aeff255e843f7455b"};

          function vkAdsInit() {
            VK.Widgets.Ads('vk_ads_132388', {}, adsParams);
          }

          if (window.VK && VK.Widgets) {
            vkAdsInit();
          } else {
            if (!window.vkAsyncInitCallbacks) window.vkAsyncInitCallbacks = [];
            vkAsyncInitCallbacks.push(vkAdsInit);
            const protocol = ((location.protocol === 'https:') ? 'https:' : 'http:');
            const adsElem = document.getElementById('vk_ads_132388');
            const scriptElem = document.createElement('script');
            scriptElem.type = 'text/javascript';
            scriptElem.async = true;
            scriptElem.src = protocol + '//vk.com/js/api/openapi.js?168';
            adsElem.parentNode.insertBefore(scriptElem, adsElem.nextSibling);
          }
        }, 0);
    if (gon.app.page !== 'main')
      script(type='text/javascript').
        setTimeout(function () {
          const adsParams = {"ad_unit_id": 132389, "ad_unit_hash": "bbac12697aa992d4bc3eaba31dab828c"};

          function vkAdsInit() {
            VK.Widgets.Ads('vk_ads_132389', {}, adsParams);
          }

          if (window.VK && VK.Widgets) {
            vkAdsInit();
          } else {
            if (!window.vkAsyncInitCallbacks) window.vkAsyncInitCallbacks = [];
            vkAsyncInitCallbacks.push(vkAdsInit);
            const protocol = ((location.protocol === 'https:') ? 'https:' : 'http:');
            const adsElem = document.getElementById('vk_ads_132389');
            const scriptElem = document.createElement('script');
            scriptElem.type = 'text/javascript';
            scriptElem.async = true;
            scriptElem.src = protocol + '//vk.com/js/api/openapi.js?168';
            adsElem.parentNode.insertBefore(scriptElem, adsElem.nextSibling);
          }
        }, 0);
