- const { clubId } = values.calendar;
- const clubSettingsPageURL = `vk.com/club${clubId}?act=apps`;
- const clubTokenPageURL = `vk.com/club${clubId}?act=tokens`;
- const isWeb = user.platform.includes('desktop') || user.platform.includes('other') || (user.platform === '');

mixin widgetHelp
  if (clubHasWidget)
    li Приватность виджета останется прежней;
  else
    li Если в сообществе уже имеется виджет, он будет заменён;
  if (!isWeb)
    li.
      Настройки виджета #[span.fw-bold недоступны] с мобильных версий ВКонтакте,
      но можно копировать ссылку на страницу настроек и открыть в мобильном браузере,
      если он поддерживает эмуляцию версии для ПК;
  li.
    В управлении сообществом с ПК на странице приложения:
    #[a(href=`//${clubSettingsPageURL}` target='_blank') #{clubSettingsPageURL}]
    можно настроить видимость виджета участникам сообщества;
  li Синхронизация календаря с виджетом происходит автоматически в течение получаса.


if (clubHasWidget === true)
  p.
    Если приложение загружается, а виджет перестал обновляться, возможно, был удалён
    #[a(href=`//${clubTokenPageURL}` target='_blank') токен] приложения.
    Попробуйте его перевыпустить:
  div.text-end
    button#setWidget.btn.btn-warning.mb-3 Перевыпустить токен
  +widgetHelp
else
  p.
    Теперь мероприятия из календаря могут отображаться на главной
    странице сообщества, как виджет. Чтобы его включить, нужно
    жмякнуть по большой красной кнопке и дать доступ к виджету:
  div.text-end
    button#setWidget.btn.btn-danger.mb-3 Сделать хорошо
  +widgetHelp
